

<ul ng-controller="OrderCtrl" class="list-group">
	<li ng-repeat="item in order.orderLines" class="list-group-item"><a
		href ng-click="removeItem($index)"><img src="app/images/add.png"
			height="50" width="50"></a> {{item.product.name}} <b>aantal:</b>
		{{item.quantity}} <b>prijs:</b> &#8364 {{item.product.price | number: 2}}
		<b>totaal:</b> &#8364 {{item.quantity * item.product.price | number: 2}}</li>
		<li></li>
		<li>Naam: <input ng-model="order.address.name" type="text"/></li>
		<li class="nav nav-pills pull-right"><button ng-click="confirm()">Confirm</button></li>
</ul>