

<ul ng-controller="OrderCtrl" class="list-group">
	<li ng-repeat="item in order.cartItems" class="list-group-item"><a
		href ng-click="removeItem($index)"><img src="app/images/add.png"
			height="50" width="50"></a> {{item.product.name}} <b>aantal:</b>
		{{item.size}} <b>prijs:</b> &#8364 {{item.product.price | number: 2}}
		<b>totaal:</b> &#8364 {{item.size * item.product.price | number: 2}}</li>
		<li>Name: <input ng-model="order.address.name" type="text"/></li>
		<li>Street: <input ng-model="order.address.street" type="text"/></li>
		<li>Zipcode: <input ng-model="order.address.zipcode" type="text"/></li>
		<li>City: <input ng-model="order.address.city" type="text"/></li>
		<li>Email: <input ng-model="order.address.email" type="email"/></li>
		<li class="nav nav-pills pull-right"><button ng-click="confirm()">Confirm</button></li>
</ul>